body {
    background-color: #F8F9FB;
}

header {
    width: 100%;
    height: 50px;
    background-color:#353942;
    color: #E8EBEE;
}

#header {
    position: relative;
    left: 30vw;
}

.card {
    width: 100vw;
}

.forecast {
    background-color: #007AFF;
    height: 150px;
    width: 125px;
    margin: 5px;
}

.uv {
    color: white;
    background-color:#D62B48;
}

.city-btn {
    font-size: 24px;
    border: 5px;
    margin: 5px;
    background-color: #FFFFFF;
    color: 	rgb(112, 111, 111);
}

.city-btn:hover {
    color: black;
    cursor: pointer;
}